body{
    font-family: 'Josefin Sans', sans-serif;
    color:#c9c1ac;
    background:url(../img/body-bcg.jpeg)center/cover fixed no-repeat;
}

.info{
    background:#c9c1ac;
}

.primary-color{
    color:#d3325f;
}

.info h2{
word-spacing:0.6rem;
}

.info a{
    transition:color 2s ease-in-out;
    text-decoration:none!important;
}

.info a:hover{
    color:#242424;
    
}
/*header section*/
#header{
min-height:calc(100vh - 95px);
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/banner-bcg.jpeg);
background-position:center;
background-size:cover;
background-attachment:fixed;
background-repeat:no-repeat;
position:relative;
}

.height-90{
    min-height:calc(100vh - 95px);  
}

.banner h1 {
    border-top: 6px dotted #C9C1AC;
    border-bottom: 6px dotted #C9C1AC;
    animation: fromLeft;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
  
  }
/*animation*/
@keyframes fromLeft {
    0%{
        transform:translateX(-100px);
        opacity:0;
    }
    50%{
        transform:translateX(30px);
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}

.main-btn{
    color:#d3325f;
    font-size:2rem;
    border:2px solid #d3325f;
    transition:all 1s ease-in-out;
}

.main-btn:hover{
    color:#242424;
    border:2px solid #c9c1ac;
    background:#c9c1ac;
}

.sushi-btn{
    animation:fromRight;
    animation-duration:4s;
    animation-delay:2s;
    opacity:0;
    animation-fill-mode:forwards;
    
}

@keyframes fromRight {
    0%{
        transform:translateX(100px);
        opacity:0;
    }
    50%{
        transform:translateX(-30px);
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}


.header-link{
    display:inline-block;
    position:absolute;
    bottom:5%;
    left:50%;
    background:#c9c1ac;
    border-radius;10px;
    transition:all 2s ease;
    animation:fromBottom;
    animation-duration:4s;
    animation-iteration-count:infinite;
}

.header-link:hover{
    color:#242424;
}


@keyframes fromBottom {
    0%{
        transform:translateY(-10px);
    }
    50%{
        transform:translateY(10px);
    }
    100%{
        transform:translateY(-10px);
    }
}
/*menu items*/

.item-container {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    transition: all 2s ease;
  
  }
  
  .item-img {
    transition: all 2s ease-in-out;
  }
  
  .item-container:hover .item-img {
    transform: scale(1.2);
    opacity: 0.5;
  }
  
  .item-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D3325F;
    font-size: 2rem;
    border-top: 3px solid #D3325F;
    border-bottom: 3px solid #D3325F;
    transition: 2s all ease-in-out;
    opacity: 0;
  
  }
  
  .item-container:hover .item-link {
    opacity: 1;
  
  }
  
  .item-link:hover {
    color: #C9C1AC;
    border: 3px solid #C9C1AC;
    background: #C9C1AC;
    color: #242424;
  
  }
  
  .item-container:hover {
    outline: 10px solid #D3325F;
    outline-offset: 0.8rem;
  }

  /*menu*/

  #menu{
      background:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url(../img/banner-bcg.jpeg)center/cover fixed no-repeat;
  }
  
.special{
    border:3px solid #D3325F;
    position:relative;
}

.special-text{
    position:absolute;
    top:0;
    right:10%;
    background:#d3325f;
    padding:0 0.4rem;
}

/*about us*/
.about-pictures{
    position:relative;
}

.about-image{
    position:absolute;
    width:150px;
    transition:all 2s ease;
    opacity:0.9;
}

.img-1{
    left:0%;
    top:0%;
}



.img-2{
    left:20%;
    top:20%;
    z-index:10;
}


.img-3{
    left:40%;
    top:45%;
    z-index:20;
}


.img-4{
    left:40%;
    top:0%;
}


.img-5{
    left:0%;
    top:45%;
    
}

.about-image:hover{
    outline:10px solid #D3325F;
    outline-offset:0.8rem;
    transform:scale(1.3) rotate(20deg);
    z-index:30;
    opacity:1;
}

.about-pictures:hover .about-image:not(:hover){
    opacity:0.4;
}

/*review*/
.review-img{
    width:150px;
}