<!--menu items section-->
<section class="py-5" id="special-items">
    <div class="container my-5">
        <div class="row parent-container">
            <!--menu item-->
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="item-container">
                    <img src="img/menu-item-1.jpeg" class="img-fluid img-thumbnail item-img" alt="menu item">
                    <a href="img/menu-item-1.jpeg">
                        <h1 class="text-uppercase text-center item-link px-3">menu item</h1>
                    </a>

                </div>
            </div>
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="item-container">
                    <img src="img/menu-item-2.jpeg" class="img-fluid img-thumbnail item-img" alt="menu item">
                    <a href="img/menu-item-2.jpeg">
                        <h1 class="text-uppercase text-center item-link px-3">menu item</h1>
                    </a>

                </div>
            </div>
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="item-container">
                    <img src="img/menu-item-3.jpeg" class="img-fluid img-thumbnail item-img" alt="menu item">
                    <a href="img/menu-item-3.jpeg">
                        <h1 class="text-uppercase text-center item-link px-3">menu item</h1>
                    </a>

                </div>
            </div>
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="item-container">
                    <img src="img/menu-item-4.jpeg" class="img-fluid img-thumbnail item-img" alt="menu item">
                    <a href="img/menu-item-4.jpeg">
                        <h1 class="text-uppercase text-center item-link px-3">menu item</h1>
                    </a>

                </div>
            </div>
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="item-container">
                    <img src="img/menu-item-5.jpeg" class="img-fluid img-thumbnail item-img" alt="menu item">
                    <a href="img/menu-item-5.jpeg">
                        <h1 class="text-uppercase text-center item-link px-3">menu item</h1>
                    </a>

                </div>
            </div>
            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                <div class="item-container">
                    <img src="img/menu-item-6.jpeg" class="img-fluid img-thumbnail item-img" alt="menu item">
                    <a href="img/menu-item-6.jpeg">
                        <h1 class="text-uppercase text-center item-link px-3">menu item</h1>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

<!--end of menu items section-->

/*menu items */
.item-container{
position:relative;
/*for the link*/
overflow:hidden;
background:linear-gradient(rgb(0,0,0),rgb(0,0,0));
transition:all 2s ease;
}

.item-img{
transition: all 2s ease-in-out;
}

.item-container:hover .item-img{
transform:scale(1.2);
opacity:0.5;
}

.item-link{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:#d3325f;
font-size:2rem;
border-top:3px solid #d3325f;
border-bottom:3px solid #d3325f;
transition:all 2s ease-in-out;
opacity:0;
}

.item-container:hover .item-link{
opacity:1;
}

.item-link:hover{
color:#c9c1ac;
border:3px solid #C9C1AC;
background:#c9c1ac;
color:#242424;
}

.item-container:hover{
outline:10px solid #d3325f;
outline-offset:0.8rem;
}

body{
font-family: 'Josefin Sans', sans-serif;
color:#c9c1ac;
background:url(../img/body-bcg.jpeg)center/cover fixed no-repeat;
}

.info{
background:#c9c1ac;
}

.primary-color{
color:#d3325f;
}

.info h2{
word-spacing:0.6rem;
}

.info a{
transition:color 2s ease-in-out;
text-decoration:none!important;
}

.info a:hover{
color:#242424;

}
/*header section*/
#header{
min-height:calc(100vh - 95px);
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/banner-bcg.jpeg);
background-position:center;
background-size:cover;
background-attachment:fixed;
background-repeat:no-repeat;
position:relative;
}

.height-90{
min-height:calc(100vh - 95px);
}

.banner h1 {
border-top: 6px dotted #C9C1AC;
border-bottom: 6px dotted #C9C1AC;
animation: fromLeft;
animation-duration: 4s;
animation-delay: 2s;
opacity: 0;
animation-fill-mode: forwards;

}
/*animation*/
@keyframes fromLeft {
0%{
transform:translateX(-100px);
opacity:0;
}
50%{
transform:translateX(30px);
}
100%{
transform:translateX(0);
opacity:1;
}
}

.main-btn{
color:#d3325f;
font-size:2rem;
border:2px solid #d3325f;
transition:all 1s ease-in-out;
}

.main-btn:hover{
color:#242424;
border:2px solid #c9c1ac;
background:#c9c1ac;
}

.sushi-btn{
animation:fromRight;
animation-duration:4s;
animation-delay:2s;
opacity:0;
animation-fill-mode:forwards;

}

@keyframes fromRight {
0%{
transform:translateX(100px);
opacity:0;
}
50%{
transform:translateX(-30px);
}
100%{
transform:translateX(0);
opacity:1;
}
}


.header-link{
display:inline-block;
position:absolute;
bottom:5%;
left:50%;
background:#c9c1ac;
border-radius;10px;
transition:all 2s ease;
animation:fromBottom;
animation-duration:4s;
animation-iteration-count:infinite;
}

.header-link:hover{
color:#242424;
}


@keyframes fromBottom {
0%{
transform:translateY(-10px);
}
50%{
transform:translateY(10px);
}
100%{
transform:translateY(-10px);
}
}


font-family: 'Josefin Sans', sans-serif;